<ul class="reviews-list">
    {{#each items}}
    <li class="reviews-item">
        <div class="reviews-title">
            <span class="reviews-name">{{name}}</span>
            <span class="reviews-place">{{place}}</span>
            <span class="reviews-date">{{date}}</span>
        </div>
        <div class="reviews-text">{{reviews}}</div>
    </li>
    {{/each}}
</ul>